alabaster==0.7.16
Babel==2.14.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.0
cryptography==42.0.2
cycler==0.12.1
docutils==0.20.1
exceptiongroup==1.2.0
fonttools==4.47.2
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
iniconfig==2.0.0
jaraco.classes==3.3.0
jeepney==0.8.0
Jinja2==3.1.3
keyring==24.3.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
mdurl==0.1.2
more-itertools==10.2.0
nh3==0.2.15
numpy==1.26.4
ordered-set==4.1.0
packaging==23.2
pandas==2.2.0
pillow==10.2.0
pkginfo==1.9.6
pluggy==1.4.0
prettytable==3.9.0
-e git+ssh://git@github.com/dfmorrison/pyactup.git@2f808860a56c498dbd23f47393c3ec0101a922e8#egg=pyactup
pycparser==2.21
Pygments==2.17.2
-e git+ssh://git@github.com/DDM-Lab/pyibl.git@6c2689b2aa0337f5d5cbf99958174b8dd57170c1#egg=pyibl
pylru==1.2.1
pyparsing==3.1.1
pytest==8.0.0
python-dateutil==2.8.2
pytz==2024.1
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.0
SecretStorage==3.3.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tomli==2.0.1
twine==4.0.2
tzdata==2023.4
urllib3==2.2.0
wcwidth==0.2.13
zipp==3.17.0
